<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <h2>
        We want to create a world where anyone can build something meaningful with technology, and everyone has the learning tools, resources, and opportunities to do so. Code contains a world of possibilities — all that’s required is the curiosity and drive to learn. At Codecademy, we are committed to empowering all people, regardless of where they are in their coding journeys, to continue to learn, grow, and make an impact on the world around them.
    </h2>
    <h1 class="text-center mb-5">Our Mission</h1>
    <h2>
Empower people to transform their personal and professional lives by helping them learn modern skills.
    </h2>

    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="http://www.facebook.com/RAJPUT.IAS.161027">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>

</section>